.product-list {
    float: left;
    min-width: 400px;
    margin: 10px;
}

.cart-list {
    float: left;
    width: auto;
    margin: 10px;
}

.product-list-heading {
    padding: 10px;
}

.no-products-message {
    padding: 10px;
}
